@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:wght@100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    color: black;
}
.section{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(228, 226, 226);

}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section{
    float: right;
    width: 55%;
}
.image-section{
    float: left;
    width: 40%;
}
.image-section img{
    width: 100px ;
    height: auto;
}

.content-section .title{
    text-transform: uppercase;
    font-size: 25px;
}
.content-section .content p{
    margin-top: 20px;
   font-size: 20px;
} 
.content-section .buttons .btn-left{
    margin-top: 20px;
 background-color: pink;
     color:  black;
    padding: 9px 35px;
    margin-top: 25px;
    border: none;
    box-shadow: black 5px 5px;
    font-size: medium;
    margin-right: 18px ;
   

}
.content-section .buttons .btn-right{
     margin-top: 20px;
 background-color: pink;    
 color: black;
    padding: 10px 35px;
    margin-top: 25px;
    border: none;
    box-shadow: black 5px 5px;
    font-size: medium;
}
 



header {
    background-color: pink;
    width: 100%;
    height: 110vh;
    background-size: cover;
    background-position: center;

}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;

}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
    margin-top: 10px;

}

.left {
    font-size: 2rem;
    font-weight: bold;

}

.btn {
    margin-left: 35px;
    justify-content: center;
    border: none;
    background-color: rgb(249, 73, 202);
    display: flex;
    padding: 10px 45px;
    color: white;
    font-family: "poppins", sans-serif;
    font-size: medium;
    transition: 1s;
    box-shadow: black 5px 5px;

}

.sections {
    display: flex;
    justify-content: space-around;

}

.leftSection {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.name {
    color: rgb(227, 52, 181);
}

.works {
    color: rgb(227, 52, 181);
}

.secondBtn {
    background-color: rgb(227, 52, 181);
    color: white;
    padding: 10px 35px;
    margin-top: 25px;
    border: none;
    box-shadow: black 5px 5px;
    font-size: medium;
}

a {
    color: black;
    font-weight: lighter;
    font-size: medium;

}

.links {
    margin-top: 100px;
}